.data/
./data/*
./data/bank_statements.tsv
./data/bank_statements_clean.tsv
./other/
./streamlit/
./.vscode
./other
./other/*
./other/bank_cleanup.qmd
.DS_Store
.Rhistory
.vscode/
streamlit/
other/
other/*
data/
data/*